/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: url('https://videohive.img.customer.envatousercontent.com/files/251279749/preview_image.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=2234886f3414db41b6a7cde3f26a36b6');
  background-size: cover;
  background-position: center;
}

.app-container-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: url('https://videohive.img.customer.envatousercontent.com/files/251279749/preview_image.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=2234886f3414db41b6a7cde3f26a36b6');
  background-size: cover;
  background-position: center;
}

.app-container h1,
.app-container-result h1 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-weight: 700;
}

.quiz-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid rgb(226, 226, 226);
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  box-shadow: 5px 5px 5px 5px rgb(65, 64, 64);
}

.question {
  font-size: 18px;
  margin-bottom: 10px;
}

.timer {
  font-size: 14px;
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  margin-bottom: 10px;
}

.next-button,
.reset-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.next-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.next-button:hover,
.reset-button:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 1124px) {

  .app-container {
    width: 100%;
    height: auto;
  }

  .app-container h1,
  .app-container-result h1 {
    margin-bottom: 0;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 650px) {

  .quiz-container,
  .result-container {
    width: 100%;
    margin-left: 0;
    padding-top: 20%;
    margin-top: 20%;
  }

  .app-container h1,
  .app-container-result h1 {
    margin-bottom: -20px;
    margin-top: 30px;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.result-container {
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-heading {
  color: #3498db;
}

.result-score {
  margin-top: 10px;
  font-size: 18px;
}

.reset-button {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #27ae60;
}

.arrow-icon {
  font-size: 3em;
}